.wrapper-buy {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 0 auto;
}
h2#category-title {
  margin-left: 0;
}
div.wrapper-img-buy {
  position: relative;
}
div.wrapper-img-buy #txt-title {
  position: absolute;
  top: 40%;
  padding: 0.15rem 0 0.15rem 2rem;
  margin-left: 3rem;
  font-size: var(--font-size-xbig);
  border-radius: 30px;
  filter: drop-shadow(2px 2px 1px var(--clr-mid-grey));
}
div.wrapper-img-buy img {
  width: 100%;
}
div.wrapper-inputs > input {
  padding: 0.2rem;
  font-family: var(--font-2);
  font-size: var(--font-size-small);
  letter-spacing: var(--small-spacing);
}
.wrapper-buy p {
  font-size: var(--font-size-xbig);
  /* margin-top: -3rem; */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  font-weight: bold;
  border-radius: var(--rnd-med);
}
.wrapper-buy .wrapper-form {
  height: 270px;
  width: 300px;
  background-color: #02ceac6c;
  border-radius: var(--rnd-med);
  text-align: center;
}

.wrapper-buy .wrapper-form h2 {
  font-family: var(--font-2);
  font-size: var(--font-size-reg);
  color: var(--clr-dark-grey);
  text-transform: uppercase;
  letter-spacing: var(--mid-spacing);
  margin-top: 0.5rem;
}

.wrapper-inputs {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem;
}
div.wrapper-inputs > input {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 1px solid var(--clr-dark-grey);
  margin: 0.5rem 0;
  height: 25px;
  font-family: "roboto";
}
div.wrapper-inputs > label {
  margin-bottom: -8px;
  font-family: "roboto";
  font-size: var(--font-size-small);
  text-align: left;
}

div.wrapper-buy-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}
div.wrapper-buy-btn button {
  width: 130px;
  height: 32px;
  padding: 0.3rem;
  font-family: var(--font-2);
  border-radius: var(--rnd-soft);
  border: 1px solid var(--clr-dark-grey);
  text-transform: uppercase;
  letter-spacing: var(--reg-spacing);
  color: var(--clr-dark-grey);
}

div.wrapper-buy-btn {
  text-decoration: none;
}

div.wrapper-buy-btn button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.2rem;
  padding-bottom: 0.1rem;
  transition: all 100ms ease-in-out;
}
div.wrapper-buy-btn button:hover {
  background-color: var(--clr-dark-grey);
  color: #fff;
}

div.wrapper-buy-btn button.display-off {
  color: var(--clr-mid-grey);
  border: 1px solid var(--clr-mid-grey);
}
div.wrapper-buy-btn button i {
  font-size: var(--font-size-reg);
}
p.small-info {
  font-family: "Roboto";
  font-size: var(--font-size-xsmall);
  font-weight: 300;
  letter-spacing: var(--reg-spacing);
  color: var(--clr-dark-grey);
  background: #fff;
  border-radius: 0;
  position: relative;
  top: 0%;
  left: 0%;
  padding: 0.1rem;
}

@media screen and (max-width: 560px) {
  .wrapper-buy {
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  div.wrapper-img-buy #txt-title {
    padding: 0.15rem 0 0.15rem 2rem;
    margin-left: 1rem;
    font-size: var(--font-size-big);
    border-radius: 20px;
  }

}
