#back-shopping{
   margin-left: 44%;
   margin-bottom: 2rem;
   margin-top: 2rem;
    padding: 0.2rem 1rem;
    font-family: var(--font-2);
    font-size: var(--font-size-reg);
    letter-spacing: var(--mid-spacing);
    color: var(--clr-dark-grey);
    border: 1px solid var(--clr-mid-grey);
    border-radius: var(--rnd-soft);
    filter:drop-shadow(4px 4px 2px var(--clr-mid-grey));
    transition: all 150ms ease-in-out;
}

#back-shopping:hover{
    filter:none;
    transform: scale(0.99);
}
