section.wrapper-cart{
    margin: 1rem auto;
    width: 800px;
    height: 80%;
    background-image: url('../img/wave.png');
    background-position:right;
    background-size: cover;
    background-repeat: no-repeat;
    
}

section.wrapper-cart div{
    background: rgba(255, 255, 255);
    padding: 0.5rem 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: var(--rnd-strong);
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.15));
}

section.wrapper-cart p{
    text-align: center;
    font-size: var(--font-size-big);
    font-family: var(--font-2);
    font-weight: bold;
    color: var(--clr-primary);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    letter-spacing: var(--wide-spacing);
}