
article.wrapper-cart{
    height: 100px;
    width: 600px;
    margin: 2rem auto;
    padding: 0.25rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--rnd-med);
    filter:drop-shadow(2px 2px 4px var(--clr-mid-grey));
    color: var(--clr-dark-grey); 
}

div.secc-info{
    height: 60px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img#thumblenail{
   height: 110px;
   margin-right: 2rem;
  filter:drop-shadow(4px 4px 2px var(--clr-mid-grey));
}
div.wrapper-info-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: 70px;
    margin-right: 1rem;
    background-color: var(--clr-light-grey);
    border-radius: var(--rnd-med);
    padding: 0.5rem;
    margin-top: 0.8rem; 
    margin-left: -1.5rem;
}

article.wrapper-cart p{
    font-family: var(--font-2);
    font-size: var(--font-size-small);
}

div#wrapper-model-cart{margin-right: 1rem;}

#delete-btn{
    padding: 0.2rem 1.5rem;
    font-size: var(--font-size-small);
    font-family: var(--font-2);
    border: 1px solid var(--clr-mid-grey);
    border-radius: var(--rnd-soft);
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: #fff;
    letter-spacing: var(--reg-spacing);
    transition: all 100ms ease-in-out;
    text-transform: uppercase;
}
#delete-btn:hover{
    background-color: var(--clr-dark-grey);
    color: #fff;
}
#category-txt{
    font-family: var(--font-2);
    font-size: var(--font-size-xsmall);
}
#brand-txt{
    font-size: var(--font-size-small);
    font-family: var(--font-2);
}
#model-txt{
    font-family: var(--font-1);
    font-size: var(--font-size-mid);
    letter-spacing: var(--reg-spacing);
    font-weight: bolder;
    color: #000;
    text-shadow: 0px 4px 2px var(--clr-mid-grey);
}
#available-txt{
    font-size: var(--font-size-xsmall);
    font-family: var(--font-2); 
}
#empty{
    width: 100%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/kite.webp);
    background-size: cover;
}

#empty h1{
    background-color: #fff;
    padding: 0.5rem 4rem;
    border-radius: var(--rnd-med);
}
.secc-calculate{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 12rem;
}
#xsmall{
    font-size: var(--font-size-xsmall);
    letter-spacing: var(--reg-spacing);
    padding: 0 0.5rem;
    margin-right: 0.5rem;
}
#background{
    font-size: var(--font-size-xsmall);
    letter-spacing: var(--reg-spacing);
    text-transform: uppercase;
    margin-left: 2.5rem;
}