
div .wrapper_cart{
    width: 45px;
    display: flex;
}

.cart-item button{
    position: absolute;
    height: 14px;
    margin-top: -5px;
    color:var(--clr-primary);
    font-size: var(--font-size-small);
    border: none;
    background-color: #fff;
    padding-right: 6px;
    padding-bottom: 16px;
    padding-left: 4px;
    border-radius: 10px;
    font-weight: bold;
}

.cart-icon{
    font-size:1.2rem;
    padding: 0 ;
    color: var(--clr-primary);
    margin-top: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: ease-in-out 0.15s;
} 
.cart-icon:hover{
    transform: scale(1.25);
}