#wrapper-counter{
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 0.25rem;
    border-radius: var(--rnd-soft);
    text-align: center;
    font-size: var(--font-size-mid);
}
#wrapper-counter p{
   font-size: var(--font-size-mid); 
   font-family: var(--font-2);
}
#wrapper-counter h5{
    text-align: left;
    font-family: var(--font-2);
    font-weight: 300;
    font-size: var(--font-size-small);
    letter-spacing: var(--reg-spacing);
    padding: 0.2rem 0;
 }

#add-cart{
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.4rem 0;
    font-size: var(--font-size-small); 
    background: var(--clr-light-grey);
    border: 1px solid var(--clr-mid-grey);
    border-radius: var(--rnd-soft);
    box-shadow: 1px 1px 2px var( --clr-mid-grey);
    font-family: var(--font-2);
    transition: 300ms ease-in-out;
    
}


#wrapper-counter i.cart{
    position: absolute;
    font-size: 1.1rem;
    margin-top: -1px;
}

.add-cart{
    font-family: var(--font-2);
    text-transform: uppercase;
    letter-spacing: var(--reg-spacing);
    padding: 0 0.4rem 0 0;
    font-size: var(--font-size-xsmall);
    font-weight: bold;
}

.wrapper-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.2rem;
}
.wrapper-buttons button{
    width: 5rem;
    font-size: var(--font-size-mid); 
    font-family: var(--font-2);
    background-color: transparent;
    border: 1px solid var(--clr-mid-grey);
    border-radius: var(--rnd-soft);
}
.available{
    font-family: var(--font-2);
    font-size: var(--font-size-small);
    padding: 0.1rem 0.3rem;
    text-align: right;
    color: var(--clr-dark-grey);
    background-color: var(--clr-secondary);
    border-radius: var(--rnd-soft);
}

@media screen and (max-width: 560px){
    #wrapper-counter{
        width: 265px;
        margin: 1.3rem auto 0 auto;
        margin-bottom: -1.5rem;
        background-color: transparent;
    }
    i.cart{
        position: absolute;
        font-size: 1.1rem;
        top:89.3%;
        left: 31%;
    }

    .add-cart{
        font-family: var(--font-2);
        text-transform: uppercase;
        letter-spacing: var(--reg-spacing);
        padding: 0 0rem 0 1rem;
    }
   
}