footer{
    background-color: var(--clr-light-grey);
    border-top: 5px solid var(--clr-secondary); 
    margin-top: 2rem;
}
footer ul{
    list-style: none;
}
footer li{
    color: var(--clr-primary);
}
.wrapper_footer{
    max-width: 800px;
    height: 180px;
    margin: 2rem auto ;
    display: flex;
    justify-content:space-between;
}

div .footer_us{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}



.footer_us .wrapper-logo-img a{
    text-decoration: none;
    color: #000;
    font-size: var(--font-size-xbig);
}
.footer_us img{
    width: 90px;
    cursor:pointer;
}

.footer_us p{
    text-align: center;
    width: 300px;
    color: var(--clr-dark-grey);
    font-size: 1.2rem;
    font-weight: 700;
}

.social{margin:0 1rem;}

div .footer_nav, .social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

div .footer_nav a, .social a{
    cursor: pointer;
    text-decoration: none;
    color: var( --black-transparent);
    font-family: var(--font-2);
    letter-spacing: var(--reg-spacing);
}

.copyright{
    text-align: center;
    font-family: var(--font-2);
    font-size: 0.7rem;
    color: var(--grey-transparent);
    padding-bottom: 0.25rem;
}

@media screen and (max-width: 560px){
 
footer{
    display: flex;
    flex-direction: column;
    }
.wrapper_footer{
    height: 420px;
    flex-direction: column;
    
}
.footer_us{
    margin-bottom: 1rem;
}
  
div .footer_nav, .social{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;  
}

div .footer_nav a, .social a {
    letter-spacing: var(--wide-spacing);
    padding: 0.3rem;
}
}