.wrapper_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.5rem 0 0 0;
    background-color: transparent;
}
h2#category-title{
    position: absolute;
    top: 4rem;
    padding: 0 2rem 0 1rem;
    font-size: var(--font-size-small);
    font-family: var(--font-2);
    font-weight: 300;
    letter-spacing: var(--mid-spacing);
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    background:linear-gradient(to left,#ffffff00,30%, #ffffff83);;
}

@media screen and (max-width: 560px){

    h2#category-title{
        font-size: var(--font-size-xsmall);
    }

}