

section.wrapper_section{
    position: relative;
    margin: -10% 5% 2% 5%;
    width: 80%;
    display: flex;
    padding: 8rem .5rem 1rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    color: var(--clr-dark-grey);
    background-color: var(--light-white-transparent);
    backdrop-filter: blur(5px);
    border: 1px solid var(--light-white-transparent);
    border-radius: var(--rnd-med);
    box-shadow: 0px 0px 15px var(--grey-transparent);
    z-index: 100;
}
.main_card_img{
    width: 300px;
    transform: rotateY(180deg);
    z-index: 50;
    
}
#wrapper-championship{
    position: absolute;
    top:-4rem;
    left: 12rem;
    width: 200px;
    height: 200px;
    background-color: rgb(29, 156, 214);
    background-image: url('../img/wave.png');
    background-size:130%;
    border: 8px solid rgb(33, 64, 112);
    border-radius: var(--rnd);
    overflow: hidden;
    text-align: center;
    color: #fff;
    z-index: -1;
}
#wrapper-championship .bigair {
    text-align: center;
    width: 100%;
    margin-top: 4.8rem;
    text-shadow: 4px 4px 2px var(--clr-dark-grey);
    background-color: rgba(0, 0, 0, 0.349);
    text-transform: uppercase;
    font-size: 45px;
    font-weight:bold ;
    letter-spacing: var(--mid-spacing);
}

#wrapper-championship .championship{
    background-color: #fff;
    color: rgb(29, 156, 214);
    letter-spacing: var(--mid-spacing);
    text-transform: uppercase;
    font-size: var(--font-size-xsmall);
}
#wrapper-championship #wrapper-downtext{
    margin-top: 0px;
    background-color: rgb(33, 64, 112);
}
#wrapper-championship #wrapper-downtext p:nth-child(1){
    letter-spacing: var(--wide-spacing);
    text-transform: uppercase;
    padding-top: 2px;
}
#wrapper-championship #wrapper-downtext p:nth-child(2){
    letter-spacing: var(--reg-spacing);
}

div.wrapper_img{
    position: absolute;
    top: -11rem;
    left: -2rem;
    transform: rotate(-5deg);
}
.wrapper_section h4{
    margin-top: 2rem;
    font-family: var(--font-2);
    letter-spacing: var(--reg-spacing);
    font-size: var(--font-size-mid);
    color: var(--clr-dark-grey);
}
.wrapper_section p{
    font-family: var(--font-2);
    font-size: var(--font-size-small);
    letter-spacing: var(--reg-spacing);

}

main h3{
    text-align: center;
    font-family: var(--font-2);
    letter-spacing: var(--xwide-spacing);
    text-transform: capitalize;
    font-size: var(--font-size-reg);
    color: var(--clr-dark-grey);
    margin-bottom: 1rem;
}

h4 b{
    color: var(--clr-primary);
    font-size: var(--font-size-xbig);
}

@media screen and (max-width: 560px){
    section.wrapper_section{
        margin: -5rem 0 4% 5%;
        width: 80%;
        padding: 6rem .5rem 1rem 0.5rem;
    }
    div.wrapper_img{
        top: -5rem;
    }
    .main_card_img{
        width: 160px;
    } 
    #wrapper-championship{
        top:-5rem;
        left: 5.3rem;
        width: 160px;
        height: 160px;
        z-index: -1;
    }

    #wrapper-championship .bigair {
        margin-top: 3.4rem;
        font-size: 30px;
    }
    
    #wrapper-championship .championship{
        letter-spacing: var(--small-spacing);
        font-size: 0.7rem;
    }

    #wrapper-championship #wrapper-downtext p:nth-child(1){
        letter-spacing: var(--wide-spacing);
        text-transform: uppercase;
        padding-top: 2px;
    }

    .wrapper_section h4{
        margin-top: -1rem;
        letter-spacing: var(--reg-spacing);
        font-size: var(--font-size-small);
    }
    .sub-user {
        color: var(--clr-primary);
        font-size: var(--font-size-big);
    }
    .wrapper_section p{
        font-size: var(--font-size-xsmall);
        letter-spacing: var(--reg-spacing);
    }
    
    main h3{ 
        text-transform:capitalize;
        font-size: var(--font-size-small);
        margin-bottom: -1rem;
    }
}