#item_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    width: 240px;
    margin: 1rem;
    padding: 0.3rem 0.8rem ;
    background-color: #fff;
    border-radius: var(--rnd-med);
    box-shadow: 0px 0px 4px var(--grey-transparent);
    transition: all 200ms ease-in-out;
}
#item_wrapper:hover{
    box-shadow: 0px 1px 12px var(--grey-transparent);
    cursor: pointer;
}
.item_img{
   height: 160px;
   padding: 0.3rem;
   /* margin: 0 auto; */
   filter: drop-shadow(8px 8px 5px var(--clr-mid-grey));
}
div .line{
    width: 110%;
    height: 1px;
    background-color: var(--light-black-transparent);
    margin: 8px -10px 12px ;
}
.wrapper-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#price{
    font-family: var(--font-2);
}

#item_wrapper li{
    text-align: center;
    list-style: none;
    font-weight: bold;
    font-size: var(--font-size-mid);
    padding-bottom: 0.2rem;
}

#subject{
    font-size: var(--font-size-reg);
    font-weight: bold;
}

.item-available{
    font-family: var(--font-2);
    font-size: var(--font-size-xsmall);
    color: var(--black-transparent);
    padding-bottom: 0.1rem;
}
.wrapper-shipping{
    margin-top: 0.8rem;
    display: flex;
}
.truck{
    font-size: 18px;
    color: var(--clr-secondary);
}

@media screen and (max-width: 560px){
    #item_wrapper{
        flex-direction: row;
        justify-content: center;
        align-items:center;
        height: 180px;
        min-width: 300px;
        margin: 0.5rem;
    }
    div .line{
        height: 90%;
        width: 1px;
        margin: 0 1rem;
    }
}