header{
    position: sticky;
    top: 10px;
     width: 100%;
     background-color: var(--light-white-transparent);
     backdrop-filter: blur(8px);
     border: 1px solid var(--light-white-transparent);
     border-bottom: 1px solid rgba(0, 255, 213, 0.15);
     transition: 0.5s;
     z-index: 1000;
}
#link{
    text-decoration: none;
    color: #000;
}
.wrapper_logo{
    font-weight: 700;
}

.logo{
    width: 30px;
    height: 30px;
    cursor:pointer;
    animation: fly 6s ease-in-out 0s infinite normal none;
}


@keyframes fly{
    0%{
        opacity: 100%;
        transform: translate(-20px);
        
    }
    50%{
        opacity: 60%;
        transform: translate3d(25px, -5px, 0px) rotate(20deg) scale(0.7);
    }

    100%{transform: translate(-20px);}
}
.wrapper{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.3rem 1rem;
}
nav ul li ul li{list-style: none;}

.first:hover{
    transition: 100ms;
    background-color:  #fff;
}
#first_ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    cursor:pointer;
}

#wrapper_kite, #wrapper_board{
    position:relative;
}

 #sub_kite, #sub_board{
    position:absolute;
    display: none;
    margin-top: 0.8rem;
    margin-left: 0.5rem;
    text-align: center;
    padding: 10px 5px;
    border-radius: var(--rnd-soft);
}

#sub_kite > li, #sub_board > li{
    height: 32px;
    font-family: var(--font-2);
    font-size: var(--font-size-small);
    font-weight: 500;
    letter-spacing: var(--mid-spacing);
    padding: 8px 2px 0 2px;
}

#sub_kite > li:hover, #sub_board > li:hover{
    transition: 100ms;
    transform: scale(1.05);
    background-color:  #fff;
    border-radius: var(--rnd-soft);
}

#wrapper_kite:hover > #sub_kite{
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    border: 1px solid var(--light-white-transparent);
    border-bottom: 1px solid rgba(0, 255, 213, 0.15);
}

#wrapper_board:hover > #sub_board{
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    border: 1px solid var(--light-white-transparent);
    border-bottom: 1px solid rgba(0, 255, 213, 0.15);
}

#wrapper_kite :hover ul li a, #wrapper_board :hover ul li a{
    color:var(--clr-dark-grey);
    /* border-radius: var(--rnd); */
}

nav li a{
    margin: 0.1rem 0.5rem;
    padding: 1rem;
    border-radius: var(--rnd-soft);
    color: var(--clr-primary);
    font-family: var(--font-2);
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
    transition: ease-in 0.2s;
}

.hamburger{
    display: none;
}

spam.bar{
    display: block;
    width: 20px;
    height: 2.5px;
    border-radius: 2px;
    margin: 3px auto;
    background-color: var(--clr-primary);
}

@media screen and (max-width: 560px){
    .wrapper_logo{
        font-weight: bold;
        width: 110px;
        
    }
    
    .logo{
        width: 25px;
        height: 25px;
        cursor:pointer;
        animation: fly 6s ease-in-out 0s infinite normal none;
    }
    nav li a{
        margin: 0.05rem 0.25rem;
        padding: 0.5rem;
        font-weight: 500;
        cursor: pointer;
        letter-spacing: 2px;
        transition: ease-in 0.2s;
    }

    #sub_kite, #sub_board{
        margin-top: -1.5rem;
        margin-left: 5rem;
        border-radius: var(--rnd-soft);
    }
    #sub_kite > li a, #sub_board > li a{
        font-size: var(--font-size-small);
    }

    .hamburger{
        display: block;
    }

    #first_ul{
        width: 100%;
        position: fixed;
        top: 42px;
        flex-direction: column; 
        background-color: var(--clr-secondary);
        left: 0;
        transform: translateX(-100vh);
        transition: all 0.6s;
        z-index: -1;
    }

    #first_ul>li{
        margin: 0.8rem 0;
    }

    #first_ul.responsive_nav{
        transform: translateX(0);
    }
   
    .hamburger{cursor: pointer;}
    .cart-icon{
        margin-right: -10rem;
    }
}