header{
    position: sticky;
    top: 10px;
     width: 100%;
     background-color: var(--light-white-transparent);
     backdrop-filter: blur(8px);
     border: 1px solid var(--light-white-transparent);
     border-bottom: 1px solid rgba(0, 255, 213, 0.15);
     transition: 0.5s;
     z-index: 100;
}
.wrapper_logo{
    font-weight: 700;
}

.logo{
    width: 30px;
    height: 30px;
    cursor:pointer;
    animation: fly 6s ease-in-out 0s infinite normal none;
}
@keyframes fly{
    0%{
        opacity: 100%;
        transform: translate(-20px);
        
    }
    50%{
        opacity: 60%;
        transform: translate3d(25px, -5px, 0px) rotate(20deg) scale(0.7);
    }

    100%{transform: translate(-20px);}
}
.wrapper{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 1rem;
}
nav ul li ul li{list-style: none;}

#first_ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    cursor:pointer;
}

#wrapper_kite{
    position:relative;
}

#sub_kite{
    position:absolute;
    display: none;
    margin-top: 1.1rem;
    margin-left: -1.5rem;
    text-align: center;
    padding: 4px 0 4px 0;
}

#sub_kite > li:hover{
    transition: 100ms;
    transform: scale(1.05);
    background-color:  #fff;
}

#wrapper_kite:hover > #sub_kite{
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    border: 1px solid var(--light-white-transparent);
    border-bottom: 1px solid rgba(0, 255, 213, 0.15);
}

#wrapper_kite:hover ul li {
    color:var(--clr-dark-grey);
}

nav li{
    margin: 0.1rem 0.5rem;
    padding: 1rem;
    color: var(--clr-primary);
    font-family: var(--font-2);
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
    transition: ease-in 0.2s;
}
nav ul li:hover{
    background-color: rgba(255, 255, 255, 0.65);
}