header{
    position: sticky;
    top: 10px;
     width: 100%;
     background-color: var(--light-white-transparent);
     backdrop-filter: blur(8px);
     border: 1px solid var(--light-white-transparent);
     border-bottom: 1px solid rgba(0, 255, 213, 0.15);
     transition: 0.5s;
     z-index: 100n;
}
.wrapper_logo{
    font-weight: 700;
}

.logo{
    width: 30px;
    height: 30px;
    cursor:pointer;
}

.wrapper{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 1rem;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    cursor:pointer;
}

nav li{
    margin: 0.1rem 0.5rem;
    padding: 1rem;
    color: var(--clr-primary);
    font-family: var(--font-2);
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
}